/* Sorry, If i make any mistake */
/* ful-body-style */
*{margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* banner-style */
.banner{
    width: 1600px;
    height: 800px;
    background-image: url(../images/banner/banner3.png);
}

.banner-content{
    text-align: right;
    padding-top: 215px;
}    
.banner-title{font-weight: 700;
    font-size: 65px;
   
    text-align: right;
    width: px;
    margin-left: 850px;
    margin-right: 230px;
    color: #ffff;
   
}
.banner-subtitle{
    font-weight: 400;
font-size: 16px;

margin-left: 900px;
margin-right: 230px;
color: #FFFFFF;
padding-top: 25px;
padding-bottom: 25px;

}
 .banner-btn{
    margin-right: 230px;
    width: 160px;
    height: 65px;
    color: #005FAC;
    font-size: 25px;
    border-radius: 5px;
    border: 0;
 }

/* box1-section-style */
.box1{
    width: 1072px;
    height: 725px;
  
    margin: 150px;
    margin-left: 250px;
    background-image: url(../images/person.png);
    background-repeat: no-repeat;
    

}
.box1-text{
    text-align: right;
}
.txt-head{
    font-weight: 700;
font-size: 40px;
margin-right: 80px;
margin-left: 600px;
padding-top: 150px;
padding-bottom: 30px;
}
.txt-item{
    font-weight: 400;
font-size: 16px;
color: #444343;
margin-right: 40px;
margin-left: 600px;
padding-bottom: 20px;
}
.txt-description{
    justify-content: space-between;
    color: #444343;
    margin-right: 40px;
margin-left: 600px;
line-height: 35px;
}
/* my plan part */
.my-plan{
   
    font-weight: 700;
font-size: 40px;
text-align: center;


}
.my-plan h1{
    margin-right:200px ;
}
.plan-item{
    display: flex;
    margin-top: 60px;
    margin-left: 230px;
    width: 1000px;
    justify-content: space-between;
}
.plan-item>img{
    width: 92.96px;
height: 92.96px;
}
.plan-item h5{
    font-weight: 700;
font-size: 30px;
}
.plan-item p{
    color: #737272;
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 100px;
}
/* image part */
.box2{width: 1140px;
    height: 300px;
    
    margin-left: 230px;
    margin-right: 230px;
         
    background-repeat: no-repeat;
    background-image: url(../images/watch.png);
    
    
}
.image{align-items: center;
    background-image: url(../images/gradient1.png);
    width: 1140px;
    height: 300px;
    
   
    margin-right: 230px;
    
         
}
.image-title{
    margin-left: 230px;
    padding-top: 50px;
    
    width: 500px;
    color: #FFFFFF;
    font-size: 35px;
}
.image>button{
    margin-left: 230px;
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(0, 95, 172);
}
/* footer part */
.footer{
    width: 1600px;
    height: 580px;
    background-color:  #151414;
    margin-top: 150px;
    color: #FFFFFF;
}
.footer-main{
    display: flex;
    padding-top: 130px;
    padding-left: 230px;

}
.left-title{
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 20px;
}
.left-description{width: 485px;
    height: 80px;
    color: #FFFFFF;
}
.left-email{
    width: 184px;
height: 26px;
font-size: 16px;

}
.left-phone{
    width: 186px;
height: 26px;
font-size: 16px;
}
.icon{width: 175px;
    height: 45px;
    margin-top: 20px;

}
.footer-right{
    padding-left: 200px;

}
.right-title{
    width: 123px;
height: 29px;
font-size: 30px;
margin-bottom: 25px;
}
.right-email{
    padding-right: 20px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #151414;
}
.right-btn{
    background-color: rgb(0, 95, 172);
    color: #FFFFFF;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;

}
/* sorry, If i make any mistake */